* {
    box-sizing: border-box;

}
/* screen sizes 500px and up */
body, html {
    background: black;
    text-align: center;
    font-family: Arial;
}


#wrapper-media {
    background: white;
    width: 100%;
    height: auto;
    display: inline-block;
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: 10% repeat(4, 1fr);*/
    padding: 2em;

}

h1 {
    color: black;
}
header {
    background: rgba(204	255	255);
    border: 2px solid lightgray;
    margin:  10px;
    padding: 10px;
    font-size: 14px;
    grid-area: 1/ 1/ 2/ 2;
}
header a {
    color: black;
    text-decoration: none;
}


nav {
    grid-area: 2 /1 / 3/ 2;
}

.nav-links {
    padding: 0;
}

li {
    list-style-type: none;
    background: gray;
    margin: 10px;
    padding: 10px;
}

.header-img {   
    grid-area: 3 / 1/ 4/ 2;
}
img {
    width: 100%;
    height: auto;
}
article {
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-area: 4/ 1 / 5/ 2;
    
}
.sub-section {
    font-style: italic;
    font-weight: none;
}

footer {
    text-align: left;
    grid-area: 5/ 1 / 6/ 2;
}

@media screen and (min-width:500px) {
    #wrapper-media {
        background: red;
        margin: 0 auto;
    }

}