* {
    box-sizing: border-box;

}
/* screen sizes 500px and up */
@media screen and (min-width:500px) {
body, html {
    background: black;
    text-align: center;
    font-family: Arial;
}
}

main {

    height: 900px;
    margin: 0 auto;



}


#wrapper-media {
    background: white;
    width: auto;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

h1 {
    color: lightgrey;
}
header {
    grid-area: 1/ 1/ 2/ 2;

}
.alert-info hidden-on-desktop {
}
nav {
    grid-area: 2 /1 / 3/ 2;
}
.header-img {   
    grid-area: 3 / 1/ 4/ 2;
}
img {
    width: 100%;
    height: auto;
}
article {
    grid-area: 4/ 1 / 5/ 2;
}
footer {
    grid-area: 5/ 1 / 6/ 2;
}