* {
    box-sizing: border-box;
}
body {
    background: black;
}
/* screen sizes 500px and up */
@media screen and (min-width:500px) {
    #wrapper-media {
        background: white;
        display: flex;
        width: 400px;
        height: 900px;
    }
}
